@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _QuickTimeList = (List<object[]>)ViewData["quicktime_list"];
    var _processList = (List<object[]>)ViewData["proccess_list"];
    var _WHList = (List<object[]>)ViewData["wh_list"];
}
<div class="main">
    <div class="main_top">@Html.Raw(ViewBag.MenuBar)</div>
    <div class="main_search">
        <form id="SearchForm" action="@Url.Action("ExportExcel", "OrderModify")" method="post">
            <ul>
                <li>
                    @ViewBag.LanguagePack["ordermodify_index_search_order_number"]:
                    <input id="OrderNumber"  name="OrderNumber" type="text" class="easyui-textbox input-xlarge" value="@ViewBag.OrderID" prompt="@ViewBag.LanguagePack["common_search_order"]" />
                </li>
                <li>
                    @ViewBag.LanguagePack["ordermodify_index_search_time"]:
                    <select id="quick_time" name="quick_time" class="easyui-combobox">
                        <option value="0" selected="selected">@ViewBag.LanguagePack["common_select"]</option>
                        @foreach (var _o in _QuickTimeList)
                        {
                            <option value="@_o[0]">@_o[1]</option>
                        }
                    </select>
                    <input id="Time1" name="Time1" type="text" class="input-medium Wdate" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                    -
                    <input id="Time2" name="Time2"  type="text" class="input-medium Wdate" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                </li>
                <li>
                    @ViewBag.LanguagePack["ordermodify_index_search_store"]:
                    <input id="StoreName" name="StoreName" style="width:275px;" value="" prompt="@ViewBag.LanguagePack["common_prompt_all_mall"]">
                </li>
                <li>
                    @ViewBag.LanguagePack["ordercancel_index_search_process"]:
                    <select id="ProcessStatus" name="ProcessStatus" class="easyui-combobox">
                        <option value="0" selected="selected">--@ViewBag.LanguagePack["common_all"]--</option>
                        @foreach (var _o in _processList)
                        {
                            <option value="@_o[0]">@_o[1]</option>
                        }
                    </select>
                </li>
                <li>
                    @ViewBag.LanguagePack["ordermodify_index_search_stock_oper"]:
                    <select id="StockStatus" name="StockStatus" class="easyui-combobox">
                        <option value="0" selected="selected">--@ViewBag.LanguagePack["common_all"]--</option>
                        @foreach (var _o in _WHList)
                        {
                            <option value="@_o[0]">@_o[1]</option>
                        }
                    </select>
                </li>
                <li>
                    <input id="SearchButton" type="button" value="@ViewBag.LanguagePack["common_search"]" class="btn btn-info" />
                </li>
            </ul>
        </form>
    </div>
    <div class="main_list">
        <div id="toolbar">
            <a id="edit" href="javascript:void(0)" class="easyui-linkbutton" plain="true"><i class="fa fa-pencil-square-o color_warning"></i>@ViewBag.LanguagePack["common_edit"]</a>
            <a id="delete" href="javascript:void(0)" class="easyui-linkbutton" plain="true"><i class="fa fa-close color_danger"></i>@ViewBag.LanguagePack["common_delete"]</a>
            <a id="detail" href="javascript:void(0)" class="easyui-linkbutton" plain="true"><i class="fa fa-window-restore color_success"></i>@ViewBag.LanguagePack["common_detail"]</a>
            <a id="manual" href="javascript:void(0)" class="easyui-linkbutton" plain="true"><i class="fa fa-user color_primary"></i>@ViewBag.LanguagePack["common_manual"]</a>
            <span class="toolbar-separator"></span>
            <a id="exportexcel" href="javascript:void(0)" class="easyui-linkbutton" plain="true"><i class="fa fa-upload color_primary"></i>@ViewBag.LanguagePack["common_export"]</a>
            <span class="toolbar-separator"></span>
            <a id="refresh" href="javascript:void(0)" class="easyui-linkbutton" plain="true" power="false"><i class="fa fa-refresh color_info"></i>@ViewBag.LanguagePack["common_refresh"]</a>
        </div>
        <table id="dg">
            <thead>
                <tr>
                    <th data-options="field:'ck',checkbox:true">
                    </th>
                    <th data-options="field:'s1',align:'left'">
                        @ViewBag.LanguagePack["ordermodify_index_order_number"]
                    </th>
                    <th data-options="field:'s2',align:'left'">
                        @ViewBag.LanguagePack["ordermodify_index_sub_order_number"]
                    </th>
                    <th data-options="field:'s3',align:'center'">
                        @ViewBag.LanguagePack["ordermodify_index_store"]
                    </th>
                    <th data-options="field:'s4',align:'center'">
                        @ViewBag.LanguagePack["ordermodify_index_customer"]
                    </th>
                    <th data-options="field:'s5',align:'center'">
                        @ViewBag.LanguagePack["ordermodify_index_tel"]
                    </th>
                    <th data-options="field:'s6',align:'center'">
                        @ViewBag.LanguagePack["ordermodify_index_mobile"]
                    </th>
                    <th data-options="field:'s7',align:'left'">
                        @ViewBag.LanguagePack["ordermodify_index_zipcode"]
                    </th>
                    @*<th data-options="field:'s8',align:'left'">
                            @ViewBag.LanguagePack["ordermodify_index_area"]
                        </th>*@
                    <th data-options="field:'s9',align:'left'">
                        @ViewBag.LanguagePack["ordermodify_index_address"]
                    </th>
                    <th data-options="field:'s10',align:'center'">
                        @ViewBag.LanguagePack["ordermodify_index_process"]
                    </th>
                    <th data-options="field:'s11',align:'left'">
                        @ViewBag.LanguagePack["ordermodify_index_oper_message"]
                    </th>
                    <th data-options="field:'s12',align:'left'">
                        @ViewBag.LanguagePack["ordermodify_index_stock_reply"]
                    </th>
                    <th data-options="field:'s13',align:'left'">
                        @ViewBag.LanguagePack["ordermodify_index_confirm_message"]
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/Content/js-library/my97datepicker/4.7.2/WdatePicker.js")
    <script type="text/javascript">
        $(function () {
            //初始化店铺列表
            $('#StoreName').combotree({
                url: '@Url.Action("Mall_Message", "Common")',
                queryParams: {
                    mall_type: 'all',
                    show_type: 'comboTree'
                },
                multiple: true
            });
            //工具栏
            easyUIExtend.Grid.Toolbar($('#toolbar'), {
                powerTools: ('@ViewBag.FunctionPower').split(','),
                hideTools: getHideToolBar()
            });
            //列表
            easyUIExtend.Grid.List($('#dg'), {
                toolbar: '#toolbar',
                url: '@Url.Action("Index_Message", "OrderModify")',
                onClickRow:function(index,row){
                    //确定操作按钮可用性
                    easyUIExtend.Grid.Toolbar($('#toolbar'), {
                        powerTools: ('@ViewBag.FunctionPower').split(','),
                        hideTools: getHideToolBar(parseInt(row.s0))
                    });
                }
            });
            //搜索
            $('#SearchButton').bind('click', function () {
                easyUIExtend.Grid.Search($('#dg'), {
                    orderid: $('#OrderNumber').val(),
                    time1: $('#Time1').val(),
                    time2: $('#Time2').val(),
                    store: $("#StoreName").combotree("getValues").join(','),
                    proccess_status: $('#ProcessStatus').combobox('getValue'),
                    stock_status: $('#StockStatus').combobox('getValue')
                });
                //确定操作按钮可用性
                easyUIExtend.Grid.Toolbar($('#toolbar'), {
                    powerTools: ('@ViewBag.FunctionPower').split(','),
                    hideTools: getHideToolBar()
                });
            });
            $('#toolbar').find('#edit').bind('click', function () {
                easyUIExtend.Grid.SaveOper($('#dg'), {
                    url: '@Url.Action("Edit", "OrderModify")?id=$',
                    title: '@ViewBag.LanguagePack["common_edit"]',
                    width: '100%',
                    height: '100%',
                    dataUrl: '@Url.Action("Edit_Message", "OrderModify")'
                });
            });
            $('#toolbar').find('#delete').bind('click', function () {
                easyUIExtend.Grid.ComplexOper($('#dg'), '@Url.Action("Delete_Message", "OrderModify")');
            });
            $('#toolbar').find('#detail').bind('click', function () {
                easyUIExtend.Grid.SingleOper($('#dg'), {
                    url: '@Url.Action("Detail", "OrderModify")?id=$',
                    title: '@ViewBag.LanguagePack["common_detail"]',
                    width: '100%',
                    height: '100%'
                });
            });
            $('#toolbar').find('#manual').bind('click', function () {
                easyUIExtend.Grid.ComplexSaveOper($('#dg'), {
                    url: '@Url.Action("Manual", "OrderModify")?id=$',
                    title: '@ViewBag.LanguagePack["common_manual"]',
                    width: 750,
                    height: 450,
                    dataUrl: '@Url.Action("Manual_Message", "OrderModify")'
                });
            });
            //导出数据
            $('#toolbar').find('#exportexcel').bind('click', function () {
                $('#SearchForm').submit();
            });
            $('#toolbar').find('#refresh').bind('click', function () {
                easyUIExtend.Grid.Refresh($('#dg'));
            });
            $('#quick_time').combobox({
                onChange: function (value) {
                    if (value > 0) {
                        commonJs.sysAjaxFunction({
                            url: '@Url.Action("QuickTime_Message", "Common")',
                            para: { id: value, format: 'yyyy-MM-dd' },
                            isload: false,
                            func: function (data) {
                                data = eval('(' + data + ')');
                                $('#Time1').val(data.t1);
                                $('#Time2').val(data.t2);
                            }
                        });
                    }
                    else {
                        $('#Time1').val('');
                        $('#Time2').val('');
                    }
                }
            });
        });

        //获取工具栏
        //edit/delete/manual/detail
        function getHideToolBar(processState)
        {
            var _result;
            if(processState === undefined){
                processState=parseInt($('#ProcessStatus').combobox('getValue'));
            }
            switch (processState)
            {
                case @Convert.ToInt32(Samsonite.OMS.DTO.ProcessStatus.Modify):
                    _result=new Array('manual');
                    break;
                case @Convert.ToInt32(Samsonite.OMS.DTO.ProcessStatus.ModifyWHSure):
                    _result=new Array('edit','delete','manual');
                    break;
                case @Convert.ToInt32(Samsonite.OMS.DTO.ProcessStatus.ModifyComplete):
                    _result=new Array('edit','delete','manual');
                    break;
                case @Convert.ToInt32(Samsonite.OMS.DTO.ProcessStatus.ModifyFail):
                    _result=new Array('edit','delete');
                    break;
                case @Convert.ToInt32(Samsonite.OMS.DTO.ProcessStatus.Delete):
                    _result=new Array('edit','delete','manual');
                    break;
                default:
                    _result=new Array();
                    break;
            }
            return _result;
        }
    </script>
}

