@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _DetailList = (List<Samsonite.OMS.Database.OrderDetail>)Model;
    var _Order = (Samsonite.OMS.Database.Order)ViewData["order"];
    var _AdjustmentList = (List<Samsonite.OMS.Database.OrderDetailAdjustment>)ViewData["adjustment_list"];
    var _ShippingAdjustmentList = (List<Samsonite.OMS.Database.OrderShippingAdjustment>)ViewData["shipping_adjustment_list"];
    var _PayList = (List<Samsonite.OMS.Database.OrderPaymentDetail>)ViewData["payment_detail_list"];
    var _ReasonList = (List<object[]>)ViewData["reason_list"];
    int _Effect_Quantity = 0;
    bool _IsCOD = (_Order.PaymentType == (int)Samsonite.OMS.DTO.PayType.CashOnDelivery);
    int _AmountAccuracy = Samsonite.OMS.Service.AppConfig.ConfigCache.Instance.Get().AmountAccuracy;
    int t = 0;
}
<div class="main">
    <div class="main_edit">
        <form id="subform" method="post">
            <input name="OrderNo" type="hidden" value="@_Order.OrderNo" />
            <table class="common_table1">
                <tbody>
                    <tr>
                        <th></th>
                        <th>@ViewBag.LanguagePack["ordercancel_edit_sub_order_number"]</th>
                        <th>@ViewBag.LanguagePack["ordercancel_edit_sku"]</th>
                        <th>@ViewBag.LanguagePack["ordercancel_edit_productname"]</th>
                        <th>@ViewBag.LanguagePack["ordercancel_edit_price"]</th>
                        <th>@ViewBag.LanguagePack["ordercancel_edit_cancel_quantity"]</th>
                        <th>@ViewBag.LanguagePack["ordercancel_edit_actual_payment"]</th>
                        <th>@ViewBag.LanguagePack["ordercancel_edit_refund_amount"]</th>
                        <th>@ViewBag.LanguagePack["ordercancel_edit_state"]</th>
                        <th>@ViewBag.LanguagePack["ordercancel_edit_shipping_state"]</th>
                    </tr>
                    @foreach (var _O in _DetailList)
                    {
                        _Effect_Quantity = Samsonite.Utility.Common.VariableHelper.SaferequestPositiveInt(_O.Quantity - _O.CancelQuantity - _O.ReturnQuantity - _O.ExchangeQuantity - _O.RejectQuantity);
                        <tr id="@t">
                            <td>
                                <input id="SelectID_@t" name="SelectID" type="checkbox" value="@_O.Id" @((_Effect_Quantity == 0) ? "disabled=\"disabled\"" : "") />
                                <input id="hidden_perPonitAmount_@t" type="hidden" value="@OMS.App.Helper.OrderHelper.MathRound(Samsonite.OMS.Service.OrderProcessService.CountRefundPoint(_Order.PointAmount, (_Order.PaymentAmount-_Order.DeliveryFee), _O.ActualPaymentAmount) / _O.Quantity)" />
                                <input id="hidden_perPaymentAmount_@t" type="hidden" value="@OMS.App.Helper.OrderHelper.MathRound((_O.ActualPaymentAmount/_O.Quantity))" />
                            </td>
                            <td>
                                @_O.SubOrderNo
                            </td>
                            <td>
                                @_O.SKU
                            </td>
                            <td width="375" class="textalign_left">
                                @_O.ProductName
                            </td>
                            <td>@Samsonite.Utility.Common.VariableHelper.FormateMoney(_O.SellingPrice)</td>
                            <td>
                                @if (_Effect_Quantity > 0)
                                {
                                    <select id="Quantity_@t" name="Quantity" class="easyui-combobox input-mini" data-options="disabled:true">
                                        @for (int i = _Effect_Quantity; i > 0; i--)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    @_Effect_Quantity
                                }
                                <input id="Quantity_Max_@t" type="hidden" value="@_Effect_Quantity" />
                            </td>
                            <td>
                                @Samsonite.Utility.Common.VariableHelper.FormateMoney(OMS.App.Helper.OrderHelper.MathRound(_O.ActualPaymentAmount))
                            </td>
                            <td>
                                <input id="RefundAmount_@t" name="RefundAmount" type="text" class="easyui-numberbox input-small" value="0" data-options="min:0,max:@((_IsCOD)?0:_O.ActualPaymentAmount),precision:@_AmountAccuracy,disabled:true,readonly:true" />
                            </td>
                            <td>
                                @Html.Raw(OMS.App.Helper.OrderHelper.GetProductStatusDisplay(_O.Status, true))
                            </td>
                            <td>
                                @Html.Raw(OMS.App.Helper.OrderHelper.GetWarehouseProcessStatusDisplay(_O.ShippingStatus, true))
                            </td>
                        </tr>
                        t++;
                    }
                    <tr>
                        <td><input id="is_expressfee" name="IsExpressFee" type="checkbox" value="1" /></td>
                        <td colspan="10" class="textalign_left">@ViewBag.LanguagePack["ordercancel_edit_return_express_fee"]：<input id="ExpressFee" name="ExpressFee" type="text" class="easyui-numberbox input-medium" value="@ViewBag.WaitDeliveryFee" data-options="min:0,precision:@_AmountAccuracy,disabled:true" /></td>
                    </tr>
                </tbody>
            </table>
            <div class="space_tiny space_spilt"></div>
            <table class="table1">
                <tbody>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_edit_order_no"]：
                        </th>
                        <td colspan="3">
                            @_Order.OrderNo
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_edit_paytype"]：
                        </th>
                        <td colspan="3">@OMS.App.Helper.OrderHelper.GetPaymentTypeDisplay(_Order.PaymentType)</td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_edit_order_total"]：
                        </th>
                        <td>
                            @Samsonite.Utility.Common.VariableHelper.FormateMoney(_Order.OrderAmount)
                        </td>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_edit_pay_total"]：
                        </th>
                        <td>
                            @Samsonite.Utility.Common.VariableHelper.FormateMoney(_Order.PaymentAmount)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_edit_insist_amount"]：
                        </th>
                        <td>
                            @Samsonite.Utility.Common.VariableHelper.FormateMoney(_Order.BalanceAmount)
                            @Html.Raw(OMS.App.Helper.OrderHelper.MixedPaymentMessage(_PayList))
                        </td>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_edit_delivery_charge"]：
                        </th>
                        <td>
                            @Samsonite.Utility.Common.VariableHelper.FormateMoney(_Order.DeliveryFee)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_edit_promotion"]：
                        </th>
                        <td colspan="3">
                            @foreach (var _o in _AdjustmentList)
                            {
                                <p>@Html.Raw(string.Format("{0}<i class=\"fa fa-arrow-circle-right color_info\"></i>{1}({2})", (!string.IsNullOrEmpty(_o.SubOrderNo) ? _o.SubOrderNo : _o.OrderNo), _o.LineitemText, Samsonite.Utility.Common.VariableHelper.FormateMoney(Math.Abs(_o.BasePrice))))</p>
                            }
                            @foreach (var _o in _ShippingAdjustmentList)
                            {
                                <p>@Html.Raw(string.Format("{0}<i class=\"fa fa-arrow-circle-right color_info\"></i>{1}({2})", _o.OrderNo, _o.AdjustmentLineitemText, Samsonite.Utility.Common.VariableHelper.FormateMoney(Math.Abs(_o.AdjustmentGrossPrice))))</p>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>@ViewBag.LanguagePack["ordercancel_edit_cancel_time"]：
                        </th>
                        <td colspan="3">
                            <input name="CancelTime" type="text" class="input-medium Wdate" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_edit_total_return_money"]：
                        </th>
                        <td colspan="3">
                            @ViewBag.LanguagePack["ordercancel_edit_total_return_delivery"]
                            (<span class="color_primary" id="total_delivery">0</span>)
                            <br />
                            @ViewBag.LanguagePack["ordercancel_edit_total_return_amount"]
                            (<span id="total_amount">0</span>)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_edit_reason"]：
                        </th>
                        <td colspan="3">
                            <select name="Reason" class="easyui-combobox">
                                @{
                                    foreach (var _o in _ReasonList)
                                    {
                                        <option value="@_o[0]">@_o[1]</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_edit_remark"]：
                        </th>
                        <td colspan="3">
                            <textarea name="Remark" class="easyui-textarea  input-xlarge" style="height:100px;"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/Content/js-library/my97datepicker/4.7.2/WdatePicker.js")
    <script type="text/javascript">
        $(function () {
            //如果是COD订单限制退款金额只能为0
            if ('@_IsCOD' == 'True') {
                $('#ExpressFee').numberbox({ max: 0 });
            }

            $('.common_table1').find('input[name=SelectID]').bind('click', function () {
                var _t = $(this).parent().parent().attr("id");
                if ($(this).prop("checked")) {
                    //设置控件有效
                    $('#Quantity_' + _t).combobox({ disabled: false });
                    $('#RefundAmount_' + _t).numberbox({ disabled: false });
                    var _quantity = parseInt($('#Quantity_' + _t).combobox("getValue"));
                    ResetRefund(_t, _quantity);
                }
                else {
                    $('#Quantity_' + _t).combobox({ disabled: true });
                    $('#RefundAmount_' + _t).numberbox({ disabled: true });
                    ResetRefund(_t, 0);
                }
            });

            var _o = $('.common_table1').find('[name=Quantity]');
            for (var i = 0; i < _o.length; i++) {
                $('#Quantity_' + i).combobox({
                    onChange: function (value) {
                        var _t = $(this).parent().parent().attr("id");
                        ResetRefund(_t, parseInt(value));
                    }
                });
            }

            var _o = $('.common_table1').find('input[name=RefundAmount]');
            for (var i = 0; i < _o.length; i++) {
                $('#RefundAmount_' + i).numberbox({
                    onChange: function () {
                        ResetTotalReturn();
                    }
                });
            }

            $('#is_expressfee').bind('click', function () {
                if ($(this).prop("checked")) {
                    $('#ExpressFee').numberbox({ disabled: false,readonly: true });
                }
                else {
                    $('#ExpressFee').numberbox({ disabled: true });
                }
                ResetTotalReturn();
            });

            $('#ExpressFee').numberbox({
                onChange: function () {
                    ResetTotalReturn();
                }
            });

            ResetTotalReturn();
        });

        //计算退款积分和金额
        function ResetRefund(id, quantity) {
            var _perpoint = parseFloat($('#hidden_perPonitAmount_' + id).val());
            var _perpay = parseFloat($('#hidden_perPaymentAmount_' + id).val());
            $('#RefundAmount_' + id).numberbox('setValue', (quantity * (_perpay - _perpoint)).toFixed(2));
        }

        //计算总退款积分和金额
        function ResetTotalReturn() {
            var $check = $('.common_table1').find('input[name=SelectID]:checked');
            var _total_point = 0;
            var _total_amount = 0;
            for (var k = 0; k < $check.length; k++) {
                var _t = $check.eq(k).parent().parent().attr("id");
                _total_amount += parseFloat($('#RefundAmount_' + _t).numberbox('getValue'));
            }
            var _express = 0;
            if ($('#is_expressfee').prop("checked")) {
                _express = parseFloat($('#ExpressFee').numberbox('getValue'));
            }
            $('#total_delivery').html(commonJs.formatCurrency(_express));
            var _return_money = _total_amount + _express;
            $('#total_amount').html("<label class=\"color_primary\">" + commonJs.formatCurrency(_total_amount) + "</label>" + "+<label class=\"color_warning\">" + commonJs.formatCurrency(_express) + "</label>=<label class=\"color_success\">" + commonJs.formatCurrency(_return_money) + "</label>");
        }
    </script>
}