@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _m = Model;
    var _OrderDetail = (Samsonite.OMS.Database.View_OrderDetail)ViewData["order_detail"];
}
<div class="main">
    <div class="main_edit">
        <form id="subform" method="post">
            <table class="table1">
                <tbody>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_detail_order_number"]：
                        </th>
                        <td>
                            @_m.OrderNo
                        </td>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_detail_sub_order_number"]：
                        </th>
                        <td>
                            @_m.SubOrderNo
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_detail_paytype"]：
                        </th>
                        <td colspan="3">
                            @OMS.App.Helper.OrderHelper.GetPaymentTypeDisplay(_OrderDetail.PaymentType)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_detail_sku"]：
                        </th>
                        <td>
                            @_OrderDetail.SKU
                        </td>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_detail_productname"]：
                        </th>
                        <td>
                            @_OrderDetail.ProductName
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_detail_price"]：
                        </th>
                        <td>
                            @Samsonite.Utility.Common.VariableHelper.FormateMoney(_OrderDetail.SellingPrice)
                        </td>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_detail_cancel_quantity"]：
                        </th>
                        <td>
                            @_m.Quantity/<label class="color_primary">@_OrderDetail.Quantity</label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_detail_payment"]：
                        </th>
                        <td>
                            @Samsonite.Utility.Common.VariableHelper.FormateMoney(_OrderDetail.ProductPaymentAmount)
                        </td>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_detail_actual_payment"]：
                        </th>
                        <td>
                            @Samsonite.Utility.Common.VariableHelper.FormateMoney(OMS.App.Helper.OrderHelper.MathRound(_OrderDetail.ActualPaymentAmount))
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_detail_refund_total_refund"]：
                        </th>
                        <td colspan="3">
                            @ViewBag.LanguagePack["ordercancel_detail_refund_payment"]
                            (<span class="color_primary">@Samsonite.Utility.Common.VariableHelper.FormateMoney(OMS.App.Helper.OrderHelper.MathRound(_m.RefundAmount))</span>)
                            <br />
                            @ViewBag.LanguagePack["ordercancel_detail_refund_delivery"]
                            (<span class="color_primary">@Samsonite.Utility.Common.VariableHelper.FormateMoney(OMS.App.Helper.OrderHelper.MathRound(_m.RefundExpress))</span>)
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_detail_reason"]：
                        </th>
                        <td colspan="3">
                            @Samsonite.OMS.Service.OrderCancelProcessService.GetReason(_m.Reason)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_detail_state"]：
                        </th>
                        <td colspan="3">
                            @Html.Raw(OMS.App.Helper.OrderHelper.GetProcessStatusDisplay(_m.Status, true))
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_detail_oper_message"]：
                        </th>
                        <td colspan="3">
                            @Html.Raw(string.Format("{0},{1}{2}", _m.AddUserName, _m.CreateDate.ToString("yyyy-MM-dd HH:mm:ss"), ((!string.IsNullOrEmpty(_m.Remark)) ? "<br/>" + _m.Remark : "")))
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_detail_stock_reply"]：
                        </th>
                        <td colspan="3">
                            @if (!_m.IsSystemCancel)
                            {
                                @Html.Raw(OMS.App.Helper.OrderHelper.GetWarehouseStatusDisplay(_m.ApiIsRead, _m.ApiStatus, true) + ((_m.ApiReplyDate != null) ? "<br />" + _m.ApiReplyDate.ToString("yyyy-MM-dd HH:mm:ss") : "") + ((_m.ApiReplyMsg != null) ? "<br />" + _m.ApiReplyMsg : ""));
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_detail_confirm_message"]：
                        </th>
                        <td colspan="3">
                            @Html.Raw(string.Format("{0}{1}", ((_m.AcceptUserDate != null) ? _m.AcceptUserName + "," + Samsonite.Utility.Common.VariableHelper.FormateTime(_m.AcceptUserDate, "yyyy-MM-dd HH:mm:ss") : ""), ((!string.IsNullOrEmpty(_m.AcceptRemark)) ? "<br/>" + _m.AcceptRemark : "")))
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_detail_refund_message"]：
                        </th>
                        <td colspan="3">
                            @Html.Raw(string.Format("{0}{1}", ((_m.RefundUserDate != null) ? _m.RefundUserName + "," + Samsonite.Utility.Common.VariableHelper.FormateTime(_m.RefundUserDate, "yyyy-MM-dd HH:mm:ss") : ""), ((!string.IsNullOrEmpty(_m.RefundRemark)) ? "<br/>" + _m.RefundRemark : "")))
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["ordercancel_detail_manual_message"]：
                        </th>
                        <td colspan="3">
                            @Html.Raw(string.Format("{0}{1}", ((_m.ManualUserDate != null) ? _m.ManualUserName + "," + Samsonite.Utility.Common.VariableHelper.FormateTime(_m.ManualUserDate, "yyyy-MM-dd HH:mm:ss") : ""), ((!string.IsNullOrEmpty(_m.ManualRemark)) ? "<br/>" + _m.ManualRemark : "")))
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
