@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _OrderDelivery = (dynamic)ViewData["order_delivery"];
    var _m = Model;
}
<div class="main">
    <div class="main_edit">
        <form id="subform" method="post">
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["deliverypusherror_repush_order_no"]:
                        </th>
                        <td>
                            @_OrderDelivery.orderDetail_Deliverys.OrderNo
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["deliverypusherror_repush_sub_order_no"]:
                        </th>
                        <td>
                            @_OrderDelivery.orderDetail_Deliverys.SubOrderNo
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["deliverypusherror_repush_store"]:
                        </th>
                        <td>
                            @_OrderDelivery.mallName
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["deliverypusherror_repush_sku"]:
                        </th>
                        <td>
                            @_OrderDelivery.orderDetail_Deliverys.SKU
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["deliverypusherror_repush_product_status"]:
                        </th>
                        <td>
                            @Html.Raw(OMS.App.Helper.OrderHelper.GetProductStatusDisplay(_OrderDelivery.orderDetail_Deliverys.Status, true))
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["deliverypusherror_repush_ordertime"]:
                        </th>
                        <td>
                            @_OrderDelivery.orderDetail_Deliverys.CreateDate.ToString("yyyy-MM-dd HH:mm:ss")
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["deliverypusherror_repush_delivery_company"]:
                        </th>
                        <td>
                            @_OrderDelivery.orderDetail_Deliverys.ExpressName
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["deliverypusherror_repush_delivery_invoice"]:
                        </th>
                        <td>
                            @_OrderDelivery.orderDetail_Deliverys.InvoiceNo
                        </td>
                    </tr>
                    <tr>
                        <th>
                        </th>
                        <td>
                            <input id="submit_button" type="button" class="btn btn-info" value="@ViewBag.LanguagePack["deliverypusherror_repush_button_repush"]" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#submit_button').bind('click', function () {
                commonJs.sysAjaxFunction({
                    url: '@Url.Action("RePush_Message", "DeliveryPushError")',
                    para: { id: '@_m.Id' },
                    isload: true,
                    func: function (data) {
                        data = eval('(' + data + ')');
                        if (data.result) {
                            artDialogExtend.Tips.Success(data.msg, 3, function () {
                                var _win = art.dialog.open.origin;
                                if (_win) {
                                    _win.artDialogExtend.Dialog.Close();
                                }
                            })

                        } else {
                            artDialogExtend.Tips.Error(data.msg);
                        }
                    }
                });
            });
        });
    </script>
}
