@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Samsonite.OMS.Database.UserEmployeeLevel> _LevelGroup = (List<Samsonite.OMS.Database.UserEmployeeLevel>)ViewData["level_group"];
}
<div class="main">
    <div class="main_top">@Html.Raw(ViewBag.MenuBar)</div>
    <div class="main_search">
        <form id="SearchForm" action="@Url.Action("ExportExcel", "Employees")" m me m method="post">
            <ul>
                <li>
                    <input id="SearchKey" name="SearchKey" type="text" class="easyui-textbox input-large" prompt="@ViewBag.LanguagePack["common_search_key"]" />
                </li>
                <li>
                    @ViewBag.LanguagePack["employees_index_search_limit"]:
                    <select id="LevelID" name="LevelID" class="easyui-combobox">
                        <option value="0">--@ViewBag.LanguagePack["common_all"]--</option>
                        @{
                            foreach (var _o in _LevelGroup)
                            {
                                <option value="@_o.LevelID">@_o.LevelName</option>
                            }
                        }
                    </select>
                </li>
                <li>
                    @ViewBag.LanguagePack["employees_index_search_canceled"]:
                    <input id="Deleted" name="Deleted" type="checkbox" />
                </li>
                <li>
                    <input id="SearchButton" type="button" value="@ViewBag.LanguagePack["common_search"]" class="btn btn-info" />
                </li>
            </ul>
        </form>
    </div>
    <div class="main_list">
        <div id="toolbar">
            <a id="add" href="javascript:void(0)" class="easyui-linkbutton" plain="true"><i class="fa fa-plus color_success"></i>@ViewBag.LanguagePack["common_add"]</a>
            <a id="edit" href="javascript:void(0)" class="easyui-linkbutton" plain="true"><i class="fa fa-pencil-square-o color_warning"></i>@ViewBag.LanguagePack["common_edit"]</a>
            <a id="delete" href="javascript:void(0)" class="easyui-linkbutton" plain="true"><i class="fa fa-close color_danger"></i>@ViewBag.LanguagePack["common_delete"]</a>
            <a id="restore" href="javascript:void(0)" class="easyui-linkbutton" plain="true"><i class="fa fa-eraser color_primary"></i>@ViewBag.LanguagePack["common_recover"]</a>
            <a id="importexcel" href="javascript:void(0)" class="easyui-linkbutton" plain="true"><i class="fa fa-download color_success"></i>@ViewBag.LanguagePack["common_import"]</a>
            <a id="exportexcel" href="javascript:void(0)" class="easyui-linkbutton" plain="true"><i class="fa fa-upload color_primary"></i>@ViewBag.LanguagePack["common_export"]</a>
            <span class="toolbar-separator"></span>
            <a id="refresh" href="javascript:void(0)" class="easyui-linkbutton" plain="true" power="false"><i class="fa fa-refresh color_info"></i>@ViewBag.LanguagePack["common_refresh"]</a>
        </div>
        <table id="dg">
            <thead>
                <tr>
                    <th data-options="field:'ck',checkbox:true">
                    </th>
                    <th data-options="field:'s1',align:'center'">
                        @ViewBag.LanguagePack["employees_index_name"]
                    </th>
                    <th data-options="field:'s2',align:'left'">
                        @ViewBag.LanguagePack["employees_index_email"]
                    </th>
                    <th data-options="field:'s3',align:'left'">
                        @ViewBag.LanguagePack["employees_index_level"]
                    </th>
                    <th data-options="field:'s4',align:'left'">
                        @ViewBag.LanguagePack["employees_index_limit"]
                    </th>
                    <th data-options="field:'s5',align:'left'">
                        @ViewBag.LanguagePack["employees_index_time"]
                    </th>
                    <th data-options="field:'s6',align:'center'">
                        @ViewBag.LanguagePack["employees_index_leavetime"]
                    </th>
                    <th data-options="field:'s7',align:'left'">
                        @ViewBag.LanguagePack["employees_index_remark"]
                    </th>
                    <th data-options="field:'s8',align:'center'">
                        @ViewBag.LanguagePack["employees_index_effect"]
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(function () {
            //工具栏
            easyUIExtend.Grid.Toolbar($('#toolbar'), {
                powerTools: ('@ViewBag.FunctionPower').split(','),
                hideTools: getHideToolBar()
            });
            //列表
            easyUIExtend.Grid.List($('#dg'), {
                toolbar: '#toolbar',
                url: '@Url.Action("Index_Message", "Employees")'
            });
            //搜索
            $('#SearchButton').bind('click', function () {
                easyUIExtend.Grid.Search($('#dg'), {
                    keyword: $('#SearchKey').val(),
                    levelid: $('#LevelID').combobox('getValue'),
                    isdelete: $('#Deleted').prop("checked") ? 1 : 0
                });

                //操作限制
                easyUIExtend.Grid.Toolbar($('#toolbar'), {
                    powerTools: ('@ViewBag.FunctionPower').split(','),
                    hideTools: getHideToolBar()
                });
            });
            //操作
            $('#toolbar').find('#add').bind('click', function () {
                easyUIExtend.Grid.SaveDialog({
                    url: '@Url.Action("Add", "Employees")',
                    title: '@ViewBag.LanguagePack["common_add"]',
                    width: '100%',
                    height: '100%',
                    dataUrl: '@Url.Action("Add_Message", "Employees")'
                });
            });
            $('#toolbar').find('#edit').bind('click', function () {
                easyUIExtend.Grid.SaveOper($('#dg'), {
                    url: '@Url.Action("Edit", "Employees")?id=$',
                    title: '@ViewBag.LanguagePack["common_edit"]',
                    width: '100%',
                    height: '100%',
                    dataUrl: '@Url.Action("Edit_Message", "Employees")'
                });
            });
            $('#toolbar').find('#delete').bind('click', function () {
                easyUIExtend.Grid.ComplexOper($('#dg'), '@Url.Action("Delete_Message", "Employees")');
            });
            $('#toolbar').find('#restore').bind('click', function () {
                easyUIExtend.Grid.ComplexOper($('#dg'), '@Url.Action("Restore_Message", "Employees")');
            });
            //保存导入的文件
            $('#importexcel').click(function () {
                easyUIExtend.Grid.SaveDialog({
                    url: '@Url.Action("ImportExcel", "Employees")',
                    title: '@ViewBag.LanguagePack["product_edit_import_file"]',
                    ok: function () {
                        var _filepath = this.iframe.contentWindow.$("#input_upload").choosebox('getValue');
                        $this = this;
                        commonJs.sysAjaxFunction({
                            url: '@Url.Action("ImportExcel_SaveUpload", "Employees")',
                            dataType: 'json',
                            para: { filepath: _filepath },
                            func: function (data) {
                                if (data.result) {
                                    if (data.rows.length === 0) {
                                        artDialogExtend.Tips.Success(data.msg, 2, function () {
                                            $this.close();
                                        });
                                    }
                                    else {
                                        artDialogExtend.Tips.Success(data.msg, 2, function () {
                                            //显示错误信息
                                            $this.iframe.contentWindow.$('#dg').datagrid('loadData', data.rows);
                                        });
                                    }
                                } else {
                                    artDialogExtend.Tips.Error(data.msg, 5);
                                }
                            }
                        });
                        return false;
                    }
                });
            });
            $('#toolbar').find('#refresh').bind('click', function () {
                easyUIExtend.Grid.Refresh($('#dg'));
            });
            //导出数据
            $('#exportexcel').bind('click', function () {
                $('#SearchForm').submit();
            });
        });

        //获取工具栏
        function getHideToolBar() {
            var _result;
            if ($('#Deleted').prop("checked")) {
                _result = new Array('delete');
            }
            else {
                _result = new Array('restore');
            }
            return _result;
        }
    </script>
}
