@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="main_top">@Html.Raw(ViewBag.MenuBar)</div>
    <div class="main_search">
        <ul>
            <li>
                <input id="SearchKey" type="text" class="easyui-textbox input-large" prompt="@ViewBag.LanguagePack["common_search_key"]" />
            </li>
            <li>
                <input id="SearchButton" type="button" value="@ViewBag.LanguagePack["common_search"]" class="btn btn-info" />
            </li>
        </ul>
    </div>
    <div class="main_list">
        <div id="toolbar">
            <a id="add" href="javascript:void(0)" class="easyui-linkbutton" plain="true"><i class="fa fa-plus color_success"></i>@ViewBag.LanguagePack["common_add"]</a>
            <a id="edit" href="javascript:void(0)" class="easyui-linkbutton" plain="true"><i class="fa fa-pencil-square-o color_warning"></i>@ViewBag.LanguagePack["common_edit"]</a>
            <span class="toolbar-separator"></span>
            <a id="refresh" href="javascript:void(0)" class="easyui-linkbutton" plain="true" power="false"><i class="fa fa-refresh color_info"></i>@ViewBag.LanguagePack["common_refresh"]</a>
        </div>
        <table id="dg">
            <thead>
                <tr>
                    <th data-options="field:'ck',checkbox:true">
                    </th>
                    <th data-options="field:'s1',align:'left'">
                        @ViewBag.LanguagePack["platform_index_name"]
                    </th>
                    <th data-options="field:'s2',align:'center'">
                        @ViewBag.LanguagePack["platform_index_code"]
                    </th>
                    <th data-options="field:'s3',align:'left'">
                        @ViewBag.LanguagePack["platform_index_url"]
                    </th>
                    <th data-options="field:'s4',align:'left'">
                        @ViewBag.LanguagePack["platform_index_appkey"]
                    </th>
                    <th data-options="field:'s5',align:'left'">
                        @ViewBag.LanguagePack["platform_index_appsecret"]
                    </th>
                    <th data-options="field:'s6',align:'left'">
                        @ViewBag.LanguagePack["platform_index_power"]
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(function () {
            //工具栏
            easyUIExtend.Grid.Toolbar($('#toolbar'), {
                powerTools: ('@ViewBag.FunctionPower').split(',')
            });
            //列表
            easyUIExtend.Grid.List($('#dg'), {
                toolbar: '#toolbar',
                url: '@Url.Action("Index_Message","Platform")'
            });
            //搜索
            $('#SearchButton').bind('click', function () {
                easyUIExtend.Grid.Search($('#dg'), {
                    keyword: $('#SearchKey').val()
                });
            });
            //操作
            $('#toolbar').find('#add').bind('click', function () {
                easyUIExtend.Grid.SaveDialog({
                    url: '@Url.Action("Add", "Platform")',
                    title: '@ViewBag.LanguagePack["common_add"]',
                    width: '100%',
                    height: '100%',
                    dataUrl: '@Url.Action("Add_Message", "Platform")'
                });
            });
            $('#toolbar').find('#edit').bind('click', function () {
                easyUIExtend.Grid.SaveOper($('#dg'), {
                    url: '@Url.Action("Edit", "Platform")?id=$',
                    title: '@ViewBag.LanguagePack["common_edit"]',
                    width: '100%',
                    height: '100%',
                    dataUrl: '@Url.Action("Edit_Message", "Platform")'
                });
            });
            $('#toolbar').find('#refresh').bind('click', function () {
                easyUIExtend.Grid.Refresh($('#dg'));
            });
        });
    </script>
}

