@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _PlatformList = (List<Samsonite.OMS.Database.ECommercePlatform>)ViewData["platform_list"];
    var _FtpList = (List<Samsonite.OMS.Database.FTPInfo>)ViewData["ftp_list"];
    var _m = (Samsonite.OMS.Database.Mall)Model;
}
<div class="main">
    <div class="main_edit">
        <form id="subform" method="post">
            <input name="ID" type="hidden" value="@_m.Id" />
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["stores_edit_storename"]：
                        </th>
                        <td>
                            @_m.Name
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["stores_edit_sapcode"]：
                        </th>
                        <td>
                            @_m.SapCode
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["stores_edit_platform"]：
                        </th>
                        <td>
                            @_PlatformList.Where(p => p.PlatformCode == _m.PlatformCode).SingleOrDefault().Name
                            <input name="PlatformCode" type="hidden" value="@_m.PlatformCode" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["stores_edit_type"]：
                        </th>
                        <td>
                            @OMS.App.Helper.MallHelper.GetMallTypeDisplay(_m.MallType)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["stores_edit_interface_type"]：
                        </th>
                        <td>
                            @OMS.App.Helper.MallHelper.GetMallInterfaceTypeDisplay(_m.InterfaceType)
                        </td>
                    </tr>
                    <tr id="tr_ftp">
                        <th>
                            @ViewBag.LanguagePack["stores_edit_ftp"]：
                        </th>
                        <td>
                            <select name="FTP" class="easyui-combobox">
                                @foreach (var _o in _FtpList)
                                {
                                    if (_m.FtpID == _o.ID)
                                    {
                                        <option value="@_o.ID" selected="selected">@_o.FTPName</option>
                                    }
                                    else
                                    {
                                        <option value="@_o.ID">@_o.FTPName</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/Content/js-library/my97datepicker/4.7.2/WdatePicker.js")
    <script type="text/javascript">
        var _platformID = '@_m.PlatformCode';
        $(function () {
            $('#Code').textbox({
                onChange: function (value) {
                    if (value.length == 0) {
                        $('#RequireTokenButton').prop("disabled", true);
                    }
                    else {
                        $('#RequireTokenButton').prop("disabled", false);
                    }
                }
            });
            SelectStore();
        });

        function SelectStore() {
            if (_platformID == '@((int)Samsonite.OMS.DTO.PlatformType.TUMI_Japan)') {
                $('#tr_ftp').show();
            }
            else if (_platformID == '@((int)Samsonite.OMS.DTO.PlatformType.Micros_Japan)') {
                $('#tr_ftp').show();
            }
            else {
                $('#tr_ftp').hide();
            }
        }
    </script>
}