@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _MallTypeList = (List<object[]>)ViewData["store_type"];
    var _PlatformList = (List<Samsonite.OMS.Database.ECommercePlatform>)ViewData["platform_list"];
}
<div class="main">
    <div class="main_top">@Html.Raw(ViewBag.MenuBar)</div>
    <div class="main_search">
        <ul>
            <li>
                <input id="SearchKey" type="text" class="easyui-textbox input-large" prompt="@ViewBag.LanguagePack["common_search_key"]" />
            </li>
            <li>
                @ViewBag.LanguagePack["stores_index_search_type"]:
                <select id="MallType" name="MallType" class="easyui-combobox">
                    <option value="0" selected="selected">--@ViewBag.LanguagePack["common_all"]--</option>
                    @for (int t = 0; t < _MallTypeList.Count; t++)
                    {
                        <option value="@_MallTypeList[t][0]">@_MallTypeList[t][1]</option>
                    }
                </select>
            </li>
            <li>
                @ViewBag.LanguagePack["stores_index_search_platform"]:
                <select id="PlatformCode" name="PlatformCode" class="easyui-combobox">
                    <option value="0" selected="selected">--@ViewBag.LanguagePack["common_all"]--</option>
                    @foreach (var _o in _PlatformList)
                    {
                        <option value="@_o.PlatformCode">@_o.Name</option>
                    }
                </select>
            </li>
            <li>
                @ViewBag.LanguagePack["stores_index_search_canceled"]:
                <input id="Deleted" type="checkbox" />
            </li>
            <li>
                <input id="SearchButton" type="button" value="@ViewBag.LanguagePack["common_search"]" class="btn btn-info" />
            </li>
        </ul>
    </div>
    <div class="main_list">
        <div id="toolbar">
            <a id="add" href="javascript:void(0)" class="easyui-linkbutton" plain="true"><i class="fa fa-plus color_success"></i>@ViewBag.LanguagePack["common_add"]</a>
            <a id="edit" href="javascript:void(0)" class="easyui-linkbutton" plain="true"><i class="fa fa-pencil-square-o color_warning"></i>@ViewBag.LanguagePack["common_edit"]</a>
            <a id="authorize" href="javascript:void(0)" class="easyui-linkbutton" plain="true"><i class="fa fa-key color_info"></i>@ViewBag.LanguagePack["stores_index_button_authorize"]</a>
            <a id="delete" href="javascript:void(0)" class="easyui-linkbutton" plain="true"><i class="fa fa-close color_danger"></i>@ViewBag.LanguagePack["common_delete"]</a>
            <a id="restore" href="javascript:void(0)" class="easyui-linkbutton" plain="true"><i class="fa fa-eraser color_primary"></i>@ViewBag.LanguagePack["common_recover"]</a>
            <span class="toolbar-separator"></span>
            <a id="refresh" href="javascript:void(0)" class="easyui-linkbutton" plain="true" power="false"><i class="fa fa-refresh color_info"></i>@ViewBag.LanguagePack["common_refresh"]</a>
        </div>
        <table id="dg">
            <thead>
                <tr>
                    <th data-options="field:'ck',checkbox:true">
                    </th>
                    <th data-options="field:'s1',align:'left'">
                        @ViewBag.LanguagePack["stores_index_storename"]
                    </th>
                    <th data-options="field:'s2',align:'left'">
                        @ViewBag.LanguagePack["stores_index_sapcode"]
                    </th>
                    <th data-options="field:'s3',align:'left'">
                        @ViewBag.LanguagePack["stores_index_type"]
                    </th>
                    <th data-options="field:'s4',align:'left'">
                        @ViewBag.LanguagePack["stores_index_platform"]
                    </th>
                    <th data-options="field:'s5',align:'left'">
                        @ViewBag.LanguagePack["stores_index_prefix"]
                    </th>
                    <th data-options="field:'s6',align:'left'">
                        @ViewBag.LanguagePack["stores_index_virtual_wms"]
                    </th>
                    <th data-options="field:'s7',align:'left'">
                        @ViewBag.LanguagePack["stores_index_interface_type"]
                    </th>
                    <th data-options="field:'s8',align:'left'">
                        @ViewBag.LanguagePack["stores_index_authorize"]
                    </th>
                    <th data-options="field:'s9',align:'center'">
                        @ViewBag.LanguagePack["stores_index_sort"]
                    </th>
                    <th data-options="field:'s10',align:'left'">
                        @ViewBag.LanguagePack["stores_index_remark"]
                    </th>
                    <th data-options="field:'s11',align:'left'">
                        @ViewBag.LanguagePack["stores_index_createtime"]
                    </th>
                    <th data-options="field:'s12',align:'center'">
                        @ViewBag.LanguagePack["stores_index_isused"]
                    </th>
                    <th data-options="field:'s13',align:'center'">
                        @ViewBag.LanguagePack["stores_index_isopenservice"]
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(function () {
            //工具栏
            easyUIExtend.Grid.Toolbar($('#toolbar'), {
                powerTools: ('@ViewBag.FunctionPower').split(','),
                hideTools: getHideToolBar()
            });
            //列表
            easyUIExtend.Grid.List($('#dg'), {
                toolbar: '#toolbar',
                url: '@Url.Action("Index_Message", "Store")'
            });
            //搜索
            $('#SearchButton').bind('click', function () {
                easyUIExtend.Grid.Search($('#dg'), {
                    keyword: $('#SearchKey').val(),
                    type: $('#MallType').combobox("getValue"),
                    platformid: $('#PlatformCode').combobox("getValue"),
                    isdelete: $('#Deleted').prop("checked") ? 1 : 0
                });
                //操作限制
                easyUIExtend.Grid.Toolbar($('#toolbar'), {
                    powerTools: ('@ViewBag.FunctionPower').split(','),
                    hideTools: getHideToolBar()
                });
            });
            //操作
            $('#toolbar').find('#add').bind('click', function () {
                easyUIExtend.Grid.SaveDialog({
                    url: '@Url.Action("Add", "Store")',
                    title: '@ViewBag.LanguagePack["common_add"]',
                    width: '100%',
                    height: '100%',
                    dataUrl: '@Url.Action("Add_Message", "Store")'
                });
            });
            $('#toolbar').find('#edit').bind('click', function () {
                easyUIExtend.Grid.SaveOper($('#dg'), {
                    url: '@Url.Action("Edit", "Store")?id=$',
                    title: '@ViewBag.LanguagePack["common_edit"]',
                    width: '100%',
                    height: '100%',
                    dataUrl: '@Url.Action("Edit_Message", "Store")'
                });
            });
             $('#toolbar').find('#authorize').bind('click', function () {
                easyUIExtend.Grid.SaveOper($('#dg'), {
                    url: '@Url.Action("Authorize", "Store")?id=$',
                    title: '@ViewBag.LanguagePack["stores_index_button_authorize"]',
                    width: '100%',
                    height: '100%',
                    dataUrl: '@Url.Action("Authorize_Message", "Store")'
                });
            });
            $('#toolbar').find('#delete').bind('click', function () {
                easyUIExtend.Grid.ComplexOper($('#dg'), '@Url.Action("Delete_Message", "Store")');
            });
            $('#toolbar').find('#restore').bind('click', function () {
                easyUIExtend.Grid.ComplexOper($('#dg'), '@Url.Action("Restore_Message", "Store")');
            });
            $('#toolbar').find('#refresh').bind('click', function () {
                easyUIExtend.Grid.Refresh($('#dg'));
            });
        });

        //获取工具栏
        function getHideToolBar() {
            var _result;
            if ($('#Deleted').prop("checked")) {
                _result = new Array('delete');
            }
            else {
                _result = new Array('restore');
            }
            return _result;
        }
    </script>
}

