@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _m = (Samsonite.OMS.Database.View_Promotion)Model;
}
<div class="main">
    <div class="main_edit">
        <form id="subform" method="post">
            <input name="ID" type="hidden" value="@_m.Id" />
            <table class="table1">
                <tbody>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["promotion_audit_activity_name"]：
                        </th>
                        <td>
                            @_m.PromotionName
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["promotion_audit_store"]：
                        </th>
                        <td>
                            @ViewBag.Stores
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["promotion_audit_activity_rule"]：
                        </th>
                        <td>
                            @Html.Raw(@ViewBag.Rules)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["promotion_audit_activity_gift_rule"]：
                        </th>
                        <td>
                            @((_m.GiftRule == 1) ? ViewBag.LanguagePack["promotion_edit_activity_gift_rule_2"] : ViewBag.LanguagePack["promotion_edit_activity_gift_rule_1"])
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["promotion_audit_activity_gift"]：
                        </th>
                        <td>
                            @Html.Raw(ViewBag.Gifts)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["promotion_audit_effect"]：
                        </th>
                        <td>
                            @_m.BeginDate.ToString("yyyy/MM/dd")-@_m.EndDate.ToString("yyyy/MM/dd")
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["promotion_audit_message"]：
                        </th>
                        <td>
                            @Html.Raw(string.Format("{0},{1}{2}", _m.AddUserName, _m.CreateDate.ToString("yyyy-MM-dd HH:mm:ss"), ((!string.IsNullOrEmpty(_m.Remark)) ? "<br/>" + _m.Remark : "")))
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["promotion_audit_remark"]：
                        </th>
                        <td>
                            <textarea name="Remark" class="easyui-textarea  input-xxlarge" style="height:100px;"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
