@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _ParentBrandList = (List<object[]>)ViewData["parent_brand_list"];
}
<div class="main">
    <div class="main_edit">
        <form id="subform" method="post">
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>@ViewBag.LanguagePack["brand_edit_brandname"]：
                        </th>
                        <td>
                            <input name="BrandName" type="text" class="easyui-textbox input-large" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>@ViewBag.LanguagePack["brand_edit_isparent"]：
                        </th>
                        <td>
                            <input id="IsParent_1" name="IsParent" type="radio" value="1" checked="checked"><label for="IsParent_1">@ViewBag.LanguagePack["common_yes"]</label>
                            <input id="IsParent_2" name="IsParent" type="radio" value="0"><label for="IsParent_2">@ViewBag.LanguagePack["common_no"]</label>
                        </td>
                    </tr>
                    <tr id="parent_brand" class="display_none">
                        <th>
                            <span class="color_danger">*</span>@ViewBag.LanguagePack["brand_edit_parentbrandname"]：
                        </th>
                        <td>
                            <select name="ParentID" class="easyui-combobox">
                                <option value="0">--</option>
                                @foreach (var _o in _ParentBrandList)
                                {
                                    <option value="@_o[0]">@_o[1]</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>@ViewBag.LanguagePack["brand_edit_sapcode"]：
                        </th>
                        <td>
                            <input name="SapCode" type="text" class="easyui-textbox input-large" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @ViewBag.LanguagePack["brand_edit_remark"]：
                        </th>
                        <td>
                            <textarea name="Remark" class="easyui-textarea input-xlarge" style="height:100px;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>@ViewBag.LanguagePack["brand_edit_isused"]：
                        </th>
                        <td>
                            <input id="Status_1" name="Status" type="radio" value="1" checked="checked"><label for="Status_1">@ViewBag.LanguagePack["common_yes"]</label>
                            <input id="Status_2" name="Status" type="radio" value="0"><label for="Status_2">@ViewBag.LanguagePack["common_no"]</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(function () {
            $('input[name=IsParent]').bind("click", function () {
                var _value = parseInt($(this).val());
                if (_value == 0) {
                    $('#parent_brand').show();
                }
                else {
                    $('#parent_brand').hide();
                }
            });
        });
    </script>
}