@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="main_top">@Html.Raw(ViewBag.MenuBar)</div>
    <div class="main_search">
        <ul>
            <li>
                @ViewBag.LanguagePack["brandreport_index_search_store"]:
                <input id="StoreName" style="width:275px;" value="" prompt="@ViewBag.LanguagePack["common_prompt_all_mall"]">
            </li>
            <li>
                @ViewBag.LanguagePack["brandreport_index_search_time"]:
                <input id="Time1" name="Time1" type="text" class="input-medium Wdate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd")" />
                -
                <input id="Time2" name="Time2" type="text" class="input-medium Wdate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")" />
            </li>
            <li>
                <input id="SearchButton" type="button" value="@ViewBag.LanguagePack["common_search"]" class="btn btn-info" />
            </li>
        </ul>
    </div>
    <div class="main_list">
        <div class="space_small">
        </div>
        <div id="tt" class="easyui-tabs">
            <div class="main_tab" title="@ViewBag.LanguagePack["common_statistics"]">
                <div id="toolbar">
                    <a id="refresh" href="javascript:void(0)" class="easyui-linkbutton" plain="true" power="false"><i class="fa fa-refresh color_info"></i>@ViewBag.LanguagePack["common_refresh"]</a>
                </div>
                <table id="dg">
                    <thead>
                        <tr>
                            <th data-options="field:'s1',align:'left'">
                                @ViewBag.LanguagePack["brandreport_index_brand"]
                            </th>
                            <th data-options="field:'s2',align:'center',sortable:true">
                                @ViewBag.LanguagePack["brandreport_index_order_quantity"]
                            </th>
                            <th data-options="field:'s3',align:'center',sortable:true">
                                @ViewBag.LanguagePack["brandreport_index_item_quantity"]
                            </th>
                            <th data-options="field:'s4',align:'center'">
                                @ViewBag.LanguagePack["brandreport_index_cancel_quantity"]
                            </th>
                            <th data-options="field:'s5',align:'center'">
                                @ViewBag.LanguagePack["brandreport_index_return_quantity"]
                            </th>
                            <th data-options="field:'s6',align:'center'">
                                @ViewBag.LanguagePack["brandreport_index_exchange_quantity"]
                            </th>
                            <th data-options="field:'s7',align:'center'">
                                @ViewBag.LanguagePack["brandreport_index_reject_quantity"]
                            </th>
                            <th data-options="field:'s8',align:'center',sortable:true">
                                @ViewBag.LanguagePack["brandreport_index_sales_amount"]
                            </th>
                            <th data-options="field:'s9',align:'center'">
                                @ViewBag.LanguagePack["brandreport_index_per_sales"]
                            </th>
                            <th data-options="field:'s10',align:'center'">
                                @ViewBag.LanguagePack["common_operation"]
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="main_tab" title="@ViewBag.LanguagePack["common_chart"]">
                <div class="tab_nav">
                    <input id="ctype1" name="ChartType" type="radio" value="1" checked="checked" /><label for="ctype1">@ViewBag.LanguagePack["brandreport_index_order_quantity"]</label>
                    <input id="ctype2" name="ChartType" type="radio" value="2" /><label for="ctype2">@ViewBag.LanguagePack["brandreport_index_item_quantity"]</label>
                    <input id="ctype3" name="ChartType" type="radio" value="3" /><label for="ctype3">@ViewBag.LanguagePack["brandreport_index_cancel_quantity"]</label>
                    <input id="ctype4" name="ChartType" type="radio" value="4" /><label for="ctype4">@ViewBag.LanguagePack["brandreport_index_return_quantity"]</label>
                    <input id="ctype5" name="ChartType" type="radio" value="5" /><label for="ctype5">@ViewBag.LanguagePack["brandreport_index_exchange_quantity"]</label>
                    <input id="ctype5" name="ChartType" type="radio" value="6" /><label for="ctype5">@ViewBag.LanguagePack["brandreport_index_reject_quantity"]</label>
                    <input id="ctype6" name="ChartType" type="radio" value="7" /><label for="ctype6">@ViewBag.LanguagePack["brandreport_index_sales_amount"]</label>
                </div>
                <div class="padding_small"></div>
                <div id="chart_canvas" style="width:98%;min-height:400px;margin:auto;"></div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/Content/js-library/my97datepicker/4.7.2/WdatePicker.js")
    @Scripts.Render("~/Content/js-library/echarts/3.1.5/echarts.min.js")
    @Scripts.Render("~/Content/js-library/echarts/3.1.5/theme/shine.js")
    @Scripts.Render("~/Content/js-library/js/echart-extend.js")
    <script type="text/javascript">
        $(function () {
            //店铺列表
            $('#StoreName').combotree({
                url: '@Url.Action("Mall_Message", "Common")',
                queryParams: {
                    mall_type: 'all',
                    show_type: 'comboTree'
                },
                multiple: true
            });

            //列表
            easyUIExtend.Grid.List($('#dg'), {
                toolbar: '#toolbar',
                url: '@Url.Action("Index_Message","BrandReport")',
                pagination: false,
                multiSort: true,
                remoteSort: true
            });

            //搜索
            $('#SearchButton').bind('click', function () {
                easyUIExtend.Grid.Search($('#dg'), {
                    store: $("#StoreName").combotree("getValues").join(','),
                    time1: $('#Time1').val(),
                    time2: $('#Time2').val(),
                    show_type: 'record'
                });
            });

            //操作
            $('#toolbar').find('#refresh').bind('click', function () {
                easyUIExtend.Grid.Refresh($('#dg'));
            });

            $('input[type=radio][name=ChartType]').bind('click', function () {
                SetChart();
            });

            //切换
            $('#tt').tabs({
                border: false,
                onSelect: function (title, index) {
                    if (index == 1) {
                        $('.main_search').hide();
                        SetChart();
                    }
                    else {
                        $('.main_search').show();
                    }
                }
            });
        });

        function SetChart() {
            // 初始化echarts图表
            var $chart = echartExtend.Charts.Init('chart_canvas');
            //排序参数
            var $grid = $('#dg').datagrid('options');
            //grid页面
            echartExtend.Charts.AjaxSet($chart, {
                url: '@Url.Action("Index_Message", "BrandReport")',
                para: {
                    store: $("#StoreName").combotree("getValues").join(','),
                    time1: $('#Time1').val(),
                    time2: $('#Time2').val(),
                    chart_type: commonJs.getRadioValue("ChartType"),
                    show_type: 'chart',
                    sort: $grid.sortName,
                    order: $grid.sortOrder
                },
                func: function (data) {
                    $chart.setOption(data);
                }
            });
        }
    </script>
}

