@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _InterfaceList = (List<Samsonite.OMS.DTO.InterfaceGroupDto>)ViewData["interface_list"];
    var _m = (Samsonite.OMS.Database.WebApiAccount)Model;
    var _ips = _m.Ips.Split(',');
    var _interfaceIds = (List<int>)ViewBag.Interfaces;
}
<div class="main">
    <div class="main_edit">
        <form id="subform" method="post">
            <input name="ID" type="hidden" value="@_m.Id" />
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>名称：
                        </th>
                        <td>
                            <input name="AppID" type="text" class="easyui-textbox input-xlarge" value="@_m.AppID" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>Token：
                        </th>
                        <td>
                            <input id="create_token" name="Token" class="easyui-textbox input-xlarge" data-options="buttonText:'生成Token'" value="@_m.Token">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            IP限制：
                        </th>
                        <td>
                            <p>
                                <ul id="ips_list" class="common-group-input">
                                    @if (!string.IsNullOrEmpty(_m.Ips))
                                    {
                                        foreach (string _o in _ips)
                                        {
                                            <li>
                                                <span class="icon"><i class="fa fa-close color_danger" onclick="del_power($(this))"></i></span><input name="Ips" type="text" value="@_o" class="easyui-text input-medium" />
                                            </li>
                                        }
                                    }
                                </ul>
                            </p>
                            <p>
                                <input id="add-button" type="button" value="添加IP" class="btn btn-warning" />
                                <span class="label-info">允许添加类似192.168.*.*来限制IP段</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            接口权限：
                        </th>
                        <td>
                            <div class="common-list">
                                @foreach (var group in _InterfaceList.OrderBy(p => p.RootID))
                                {
                                    <h3><input name="selectAll" type="checkbox" />@group.GroupName</h3>
                                    <ul>
                                        @foreach (var item in group.Interfaces.OrderBy(p => p.SeqNumber))
                                        {
                                            <li>
                                                @if (_interfaceIds.Contains(item.ID))
                                                {
                                                    <input id="interface_@item.ID" name="Interface" type="checkbox" value="@item.ID" checked><label for="interface_@item.ID">@item.InterfaceName</label>
                                                }
                                                else
                                                {
                                                    <input id="interface_@item.ID" name="Interface" type="checkbox" value="@item.ID"><label for="interface_@item.ID">@item.InterfaceName</label>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            有效：
                        </th>
                        <td>
                            <input id="s_1" name="IsUsed" type="radio" value="1" @((_m.IsUsed) ? "checked=\"checked\"" : "")><label for="s_1">是</label>
                            <input id="s_2" name="IsUsed" type="radio" value="0" @((!_m.IsUsed) ? "checked=\"checked\"" : "")><label for="s_2">否</label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            备注：
                        </th>
                        <td>
                            <textarea name="Remark" class="easyui-textarea  input-xlarge" style="height:100px;">@_m.Remark</textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#create_token").textbox({
                onClickButton: function () {
                    var _token = commonJs.CreateKey(32);
                    $("#create_token").textbox('setValue', _token);
                }
            });

            $('#add-button').bind('click', function () {
                $('#ips_list').append('<li><span class="icon"><i class="fa fa-close color_danger" onclick="del_power($(this))"></i></span><input name="Ips" type="text" class="input-medium" value="" /></li>');
            });

            $('.common-list').find('input[type=checkbox][name=selectAll]').bind('click', function () {
                var $inputs = $(this).parent().next('ul').find('input[type=checkbox][name=Interface]');
                for (var i = 0; i < $inputs.length; i++) {
                    $inputs.eq(i).prop("checked", $(this).prop("checked"));
                }
            });
        });

        function del_power(object) {
            var $ips = $('#ips_list').find('li');
            if ($ips.length > 1) {
                $o = object.parent().parent().remove();
            }
            else {
                artDialogExtend.Tips.Alert('请至少保留一个IP!', 5);
            }
        }
    </script>
}