@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool _isExpired = (Samsonite.OMS.Service.UserLoginService.GetCurrentLoginUser().UserStatus == (int)Samsonite.OMS.DTO.UserStatus.ExpiredPwd);
}
<div class="main">
    <div class="main_edit">
        <form id="subform" method="post">
            <table class="table">
                <tbody>
                    @if (_isExpired)
                    {
                        <tr>
                            <td colspan="2">
                                <label class="label-warning">@ViewBag.LanguagePack["home_editpassword_first_edit_msg"]</label>
                            </td>
                        </tr>
                    }
                    <tr>
                        <th>
                            <span class="color_danger">*</span>@ViewBag.LanguagePack["home_editpassword_old_password"]：
                        </th>
                        <td>
                            <input name="OldPassword" type="password" class="easyui-textbox input-large" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>@ViewBag.LanguagePack["home_editpassword_new_password"]：
                        </th>
                        <td>
                            <input name="Password" type="password" class="easyui-textbox input-large" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>@ViewBag.LanguagePack["home_editpassword_sure_password"]：
                        </th>
                        <td>
                            <input name="SurePassword" type="password" class="easyui-textbox input-large" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input id="submit_button" type="button" class="btn btn-info" value="@ViewBag.LanguagePack["common_save"]" />
                            <input id="reset_button" type="reset" class="btn btn-default" value="@ViewBag.LanguagePack["common_reset"]" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#submit_button').bind('click', function () {
                $button = $(this);
                easyUIExtend.SubForm({
                    form: $('#subform'),
                    url: '@Url.Action("EditPassword_Message", "Home")',
                    button: $button,
                    success: function (data) {
                        artDialogExtend.Loading.Close();
                        $button.html($.fn.easyUIExtend.SubForm.defaultbuttonText);
                        $button.prop("disabled", false);
                        data = eval('(' + data + ')');
                        if (data.result) {
                            artDialogExtend.Tips.Success(data.msg, 3, function () {
                                window.parent.location.href = '@Url.Action("Index", "Login")';
                            });
                        }
                        else {
                            artDialogExtend.Tips.Alert(data.msg, 5);
                        }
                    }
                });
            });
        });
    </script>
}
